body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body { background-image: url(header.jpg);
background-position: center; }
h1 {
	text-align: center;
	color: white;
}

 
.btndf{ border-radius: 250px;
	text-transform: uppercase;
	background-color: orange ;
	border-color: orange ; }


.btndf:holder{ background-color: orange;
color: black }
